[
 {eda,

    % IN
    [{incomming_data_protocols, [
        %% TCP IP Socket Server ( Ranch lib )
        {example_1,[
            {type, tcpv4},
            {cb_mod, inc_example_1_tcpipv4},
            {port, 9900},
            {num_acceptors, 10},
            % https://ninenines.eu/docs/en/ranch/1.4/guide/listeners/#_default_transport_options
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]}
        %% UDP Server ( Rolled my own )
        ,{example_2,[
            {type, udpv4},
            {cb_mod, inc_example_2_udpv4},
            {port, 9901},
            %% https://erldocs.com/current/kernel/gen_udp.html?i=1&search=gen_udp:open#open/2
            {open_opts,[
                binary,
                % NB: {active, N} sends {udp_passive,Socket} to cb_mod cb module
                %     cb module as to then reply with {active, true | false | N},
                {active, 2}, % https://erldocs.com/current/kernel/inet.html#setopts/2
                {ip, {127,0,0,1}}
            ]},
            % gen_udp:recv Length
            {recv_len, 5}
        ]}
        %% SSL Server ( Ranch )
        % ,{example_4,[
        %     {type, sslv4},
        %     {cb_mod, inc_example_5_sslv4},
        %     {port, 9903},
        %     {num_acceptors, 10},
        %     {socket_opts, [
        %         {packet, 2},
        %         {delay_send, false},
        %         {keepalive, true},
        %         {linger, {true, 1}},
        %         {show_econnreset, true},
        %         {active, once}
        %     ]}
        % ]}
      ]},

      % OUT
      {outgoing_data_protocols,[
        % Buffer ?
        % Type could be
        % Tcp ip
        % rabbitmq
        % file

        %% TCP IP CLient Trying to send data
        {example_1,[
            {type, tcpv4_client},
            {cb_mod, out_example_2_tcpipv4},
            {port, 9901},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true}
            ]}
        ]}

        % {example_1,[
        %     {type, http},
        %     {cb_mod, out_example_1_http},
        %     % ? Do we need these?
        %     % Maybe make webserver options ?
        %     {http_opts,[
        %         {uri, "/example_3_http"}
        %     ]}
        % ]},

      ]}

    ]
 },

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

