[
 {eda,
    [{incomming_data_protocols, [
        {example_1,[
            {type, tcpipv4},
            {forward_module, example_1_tcpipv4},
            {port, 9900},
            {num_acceptors, 10},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]}
        ,{example_2,[
            {type, udp},
            {forward_module, example_2_udp},
            {port, 9901},
            {num_acceptors, 10},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]}
      ]},
      {outgoing_data_protocols,[
        % Buffer ?

        % Type could be
        % Tcp ip
        % rabbitmq
        % file
        %

        {example_3,[
            {type, http},
            {forward_module, example_3_http},
            % ? Do we need these?
            % Maybe make webserver options ?
            {http_opts,[
                {uri, "/example_3_http"}
            ]}
        ]}

      ]}

    ]
 },

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

